@import "../../node_modules/bootstrap/scss/bootstrap";

.paginationindex{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.imageFrame{
    display: flex;
    justify-content: center;
}

.breedName{
    margin-top: 2rem;
}